---
extends: default

rules:
  trailing-spaces: disable
  truthy: disable
  line-length:
    max: 120
ignore: |
  .devenv/
  .opencode/node_modules/
  .pre-commit-config.yaml
  codeql-rust-db/
  default.yaml
  .agents/
